# Colored completion prefix
set colored-completion-prefix on

# Displays possible completions with color.
set colored-stats on

# Case-insensitive completion
set completion-ignore-case on

# Place a trailing '/' when completing the name of a directory
set mark-directories on

# Set vi on the cmdline
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string  " "
set vi-cmd-mode-string  " "

# alternatives:
# insert:  , , , , , , ,, , , , , ,

# Off by default
set expand-tilde off

# Make a visible bell icon
set bell-style visible

# Disable paged auto-completion options
set page-completions on
set print-completions-horizontally on

# Match files whose name begins with a '.'
set match-hidden-files on

#### Keybindings ####

"\C-h": backward-kill-word
Control-del: kill-word
Tab: menu-complete
#Shift-Tab
"\e[Z": menu-complete-backward
