set bell-style none
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set editing-mode vi
set visible-stats on

"TAB": menu-complete
"\e[Z": menu-complete-backward
"\e[C": forward-word   # ctrl + right
"\e[D": backward-word  # ctrl + left 
"\C-H":"\C-W" # Ctrl + Backspace deletes word


